services/**/tmp_build
services/**/sqlc_bin.exe
services/**/*.exe
services/**/uploads/
*.log
**/node_modules/
**/.env
!**/.env.example
infra/docker/.docker-cli/
theme-reference/
runtime-backups/
.tmp/
infra/docker/tls/*.crt
infra/docker/tls/*.key
infra/docker/tls/*.csr
infra/docker/tls/*.srl
