go 1.26.4

use (
	./packages/messaging
	./services/api-gateway
	./services/audit-service
	./services/livescore-service
	./services/master-data-service
	./services/medal-standing-service
	./services/realtime-gateway
	./services/schedule-service
	./services/user-service
	./services/venue-service
)
