# PostgreSQL
POSTGRES_USER=porprov_admin
POSTGRES_PASSWORD=porprov_secret
POSTGRES_DB=porprov_db

# Redis
REDIS_PASSWORD=porprov_redis_secret

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_secret

# Grafana
GRAFANA_PASSWORD=admin
